.table-data{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: auto;

.sensitive{
  filter: blur(4px);
  transition: 0.2s ease;
  cursor: pointer;
  &:hover{
    filter: blur(0px);
  }
}
// linear-gradient(to bottom right,  0%, #9136c8 100%)
td, th {
  border: 1px solid #85858573;
  text-align: center;
  padding: 8px;
}

.action-edit-btn, .action-delete-btn{
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
  width: 80%;
  color: white;
}
.action-edit-btn{
  background: #00143e;
}
.action-delete-btn{
  background: #cc0000;
}
}
